.container {
	composes: container from '.styles/global.module.css';
}

.team {
	padding: 10rem 0;
	background: var(--c-secondary);
	overflow: hidden;
}

.btn {
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
}

.btn {
	height: 6rem;
	width: 6rem;
	padding: 0;
	border: 0;
	outline: none;
	cursor: pointer;
	background: var(--c-primary);
	border-radius: 3rem;
	display: grid;
	place-items: center;
}

.btn svg {
	position: relative;
	left: 2px;
	height: 30px;
	width: 100%;
	fill: var(--whiteA12);
	transition: transform 0.2s var(--enter);
	margin: 0;
	padding: 0;
	right: 0;
}

.btnLabel {
	display: flex;
	height: 6rem;
	width: max-content;
	align-items: center;
	background: var(--c-primary);
	color: var(--whiteA12);
	padding: 1rem 0;
	border-radius: 6rem;
	transition: 0.2s var(--move);
	opacity: 0;
}

.btn:hover .btnLabel {
	opacity: 1;
	padding: 10px 70px 10px 25px;
}

.teamHeading {
	margin: 0 0 7rem;
	font-size: 3.6rem;
	font-weight: 700;
	color: var(--c-primary);
	text-align: center;
}

.teamHeading > span::before {
	background: currentColor;
	content: '';
	height: 2px;
	position: absolute;
	top: 56%;
	width: 100%;
}
