.caseItem {
	margin: 0;
	max-width: 108rem;
	max-height: 108rem;
}

.figCaption {
	background: rgba(9, 13, 47, 0.85);
	transform: translate3d(0, 5px, 0);
	transition: opacity 0.2s var(--move), transform 0.2s var(--enter);
}

.caseItem:hover .figCaption {
	transform: translate3d(0, 0, 0);
}

.figCaption h2 {
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	font-size: 3.3rem;
	color: var(--c-primary);
	font-weight: 700;
	line-height: 1;
	width: 94%;
	text-align: center;
}

.caseItem:not(.caseActive) figure:before {
	position: absolute;
	inset: 0;
	content: '';
	pointer-events: none;
	background-color: var(--c-overlay);
}

.caseITem:not(.caseActive) img {
	filter: grayscale(1);
	transition: filter 0.33s var(--move);
}

.caseItem:not(.caseActive) img:not(:hover) {
	opacity: 0.9;
	mix-blend-mode: luminosity;
}
