.member figcaption {
	padding: 20px;
	opacity: 0;
	line-height: 1.4em;
	transform: translate3d(0, 5px, 0);
	transition: opacity 0.2s var(--move), transform 0.2s var(--enter);
}

.member figure:before {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(180deg, var(--c-primary) 0%, #380e15 100%);
	mix-blend-mode: darken;
	opacity: 0;
}

.member:hover figure:before {
	opacity: 1;
}

.member:hover figure figcaption {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.member figcaption p {
	margin: 0 0 15px;
	font-size: 1.8rem;
	color: var(--whiteA12);
}

.member figcaption h4 {
	margin: 0 0 15px;
	font-size: 1.8rem;
	color: var(--c-primary);
	font-weight: 700;
}

.name {
	font-size: 2.4rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

.role {
	font-size: 1.8rem;
	font-weight: 400;
	color: var(--c-primary);
	margin-bottom: 1rem;
}

:global(#team) .name {
	color: var(--whiteA12);
}

body:not(:has(:global(#team))) .name {
	color: var(--c-secondary);
}
